<!DOCTYPE html>
<html>
<head>
    <title>Stock Brokerage System</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- Main Content -->
    <main>
        <header>
            <h1>Stock Brokerage System!</h1>
            <p class="subtitle">Welcome to the Stock Brokerage System – your comprehensive platform to efficiently manage investors, stocks, bonds, and portfolios.</p>
        </header>

        <!-- Buttons Section -->
        <div class="button-container">
            <button onclick="window.location.href='/investors'">Manage Investors</button>
            <button onclick="window.location.href='/stocks'">Manage Stocks</button>
            <button onclick="window.location.href='/bonds'">Manage Bonds</button>
            <button onclick="window.location.href='/portfolio'">View Investor Portfolio</button>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        &copy; CIS 2368 Fall 2024 Stock Brokerage System Project. All Rights Reserved by Jeremy Duong & Cameron Gilmore.
    </footer>
</body>
</html>



